<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <clear />
    <!--datos de conexion para el SFTP GEOPAGOS--> 
    <add key ="host_geo" value ="52.0.144.141"/>
    <add key ="puerto_geo" value ="22"/>
    <add key ="username_geo" value ="vendemas-geo"/>
    <add key ="password_geo" value ="8-t>VBm=Bh*J"/>
    <add key ="CarpetaLocal_geo" value ="E:\testk\"/>
    <add key ="carpetaRemota_geo" value ="/data/vendemas-geo/SFTP"/>

    <!--datos de conexion para el servidor SQL Server xzedi-->
    <add key ="serverBD_xzedi" value ="(local)"/>
    <add key ="nombreBD_xzedi" value ="xzedi_inputs"/>
    <add key ="usuarioSQL_xzedi" value ="sa"/>
    <add key ="pwdSQL_xzedi" value ="itdata"/>
        
    
  </appSettings>
  
  
</configuration>